* {
  font-family: 'Nunito';
}

.checkbox:checked {
  border: none;
}
.checkbox:checked + .check-icon {
  display: flex;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* Hide scrollbar for Webkit/Blink */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

